$theme-colors: (
  "pap-main": rgb(36, 143, 68),
  "pap-secondary": #83a18d,
  "danger": #ed1c24,
  "green-500": rgba(16, 185, 129, 1),
  "green-1": #b5f7e690,
  "green-2": #89dfc890,
  "green-3": #056644,
  "green-4": #128061,
  "green-5": #266352,
);

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Kumbh Sans", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707070;
}

body:not(.modal-open) {
  padding-right: 0px !important;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  & .title-container {
    position: relative;
    padding: 0.25rem 0rem;
    & h1 {
      font-size: 3rem;
      font-weight: 400;
      & span {
        color: #ef4136;
      }
    }
    &.valuable {
      & h1 {
        color: #fff;
      }
      &::after {
        background-color: #fff;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 2px;
      background-color: #ef4136;
    }
  }
}

.nav-bar {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: auto;
  height: min-content;
  padding: 25px 0;
  background-color: #f7f7f7;
  & .navbar-cont {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    & .logo {
      height: 4rem;
      margin-right: 3rem;
      object-fit: cover;
    }
  }
  .menus {
    padding: 0 !important;
    margin: 0 !important;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    & .contact {
      padding-bottom: 0.5rem;
      & .contact-wrapper {
        color: #ef4136;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .menu {
      position: relative;
      transition: 0.3s ease;
      &::after {
        position: absolute;
        transition: 0.2s ease;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 0%;
        height: 2px;
        background-color: #ef4136;
      }
      &.selected,
      &:hover {
        transition: 0.3s ease;
        & .item-menu {
          color: #ef4136;
        }
        &::after {
          width: 100%;
          transition: 0.2s ease;
        }
      }
      & .item-menu {
        color: #707070;
        display: block;
        text-decoration: none;
        padding: 0.5rem 0.25rem;
      }
    }
  }
}

.header-top {
  margin-bottom: 4rem;
  .header-top-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 50% 0%;
  }

  .highlights {
    padding: 2.5rem 0;
    background-color: #ef4136;
    & .highlight {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      & .number {
        margin-right: 1rem;
        font-weight: 800;
        font-size: 3.5rem;
      }
      & .words {
        & .top {
          margin-bottom: 0.25rem;
        }
        & span {
          padding: 0rem 0.5rem;
          background-color: #525252;
        }
      }
    }
  }
}

.our-service {
  margin-bottom: 4rem;
  & .service-slider {
    margin: 0.75rem 0rem 1rem 0rem;
    & .container-slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 222px;
      & .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        outline: 0px solid #525252;
        border: none;
        border-radius: 300px;
        color: #fff;
        background-color: #ef4136;
        display: flex;
        align-items: center;
        transition: 0.1s ease;
        justify-content: center;
        &:active {
          transition: 0.2s ease;
          outline: 3px solid #525252;
        }
        &.next {
          right: 0px;
        }
        &.prev {
          left: 0px;
        }
      }

      & .slider-display {
        position: relative;
        width: 1020px; // 1110px - 60px - 30px inside container width minus slider btn and its distance
        height: 100%;
        overflow: hidden;
        & .slider-track {
          width: auto;
          align-items: center;
          flex-wrap: nowrap;
          & .slider {
            position: absolute;
            padding: 1rem 0.5rem;
            top: 0;
            height: 100%;
            width: calc(1020px / 3);
            & .title-slide {
              display: flex;
              align-items: center;
              justify-content: center;
              & .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3.2rem;
                background-color: #ef4136;
                & .icon {
                  height: 2rem;
                  width: 2rem;
                  & path {
                    fill: #fff;
                  }
                }
              }
              & .title-wrapper {
                flex-grow: 1;
                height: 3.2rem;
                padding: 0rem 1rem;
                width: 85%;
                background-color: #525252;
                display: flex;
                align-items: center;
                span {
                  color: #fff;
                  font-weight: 700;
                  font-size: 1rem;
                }
              }
            }
            & .description {
              background-color: #f7f7f7;
              padding: 1rem;
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}

.our-company {
  margin-bottom: 4rem;
  & .typograph {
    z-index: 50;
    top: 12.5%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    height: 5rem;
    object-fit: contain;
  }
  & .our-comp-image {
    width: 100%;
    // height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0% 100%;
  }
  & .company-description {
    padding: 7rem 1rem 1rem 1rem;
    p {
      font-size: 1.2rem;
    }
  }
}

.our-team {
  margin-bottom: 4rem;
  & .team-profile {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    & .card-wrapper {
      width: calc(100% / 4);
      padding: 1rem;
      & .profile-card {
        width: 100%;
        & .image-container {
          width: 100%;
          position: relative;
          padding-top: calc((1 / 1) * 100%);
          & .profile-photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          & .position {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.25rem 1rem;
            background-color: #ef4136;
            color: #fff;
            font-weight: 700;
          }
        }
        & .name-container {
          background-color: #525252;
          height: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            color: #fff;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }
}

.valuable-client {
  width: 100%;
  max-height: 617px;
  height: calc((617 / 1920) * (100vw));
  background-image: url("/Assets/Images/valuable-client.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  & .valuable-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
  & .client {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    & .client-icons {
      width: auto;
      height :calc((617 / 1920) * (100vw - 10px) * 0.25);
      &.bottom {
        height :calc((617 / 1920) * (100vw - 10px) * 0.15);
      }
      margin: 2rem 1rem 0 1rem;
      &:nth-child(7) {
        margin-right: 0rem !important;
      }
    }
  }
}

.footer {
  padding-top: 5rem;
  background-color: #f7f7f7;
  & .logo-footer {
    height: 4.5rem;
    width: auto;
    margin-bottom: 2rem;
  }
  & .address-container {
    h3 {
      font-size: 1.15rem;
      font-weight: 700;
    }
  }
  & .contact-container {
    & .contact-link {
      display: flex;
      align-items: center;
      & .contact-icon {
        margin-right: 1rem;
        height: 1rem;
        width: 1rem;
        path {
          fill: #ef4136;
        }
      }
      color: #707070 !important;
    }
  }
  & .copyright {
    border-top: 0.5px solid #707070;
    padding: 1rem 0 2rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 786px) {
  body {
    &::-webkit-scrollbar {
      display: block !important;
      background: #fff !important;
      width: 7px; /* width of the entire scrollbar */
      height: 7px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #fff !important; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #707070 !important; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 1.5px solid #fff;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}

.container-slider {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container-slider {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container-slider {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-slider {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-slider {
    width: 1140px;
  }
}
